<div class="content">
  <div class="product-list-container">
    <div class="category-select-container">
      <h3>Related categories</h3>
      <ul>
        <li><a>Electronics</a></li>
        <li><a>Office/School</a></li>
        <li><a>Office/School</a></li>
        <li><a>Office/School</a></li>
        <li><a>Office/School</a></li>
        <li><a>Office/School</a></li>
      </ul>
    </div>

    <div class="item-list-container">
      <div class="row">
        <div class="product-list-navbar-container row">
          <div class="col-3-clear">
            <button (click)="orderByPrice(1,1)">Sort by price<img src="/assets/images/arrow-up.svg" alt="ascending">
            </button>
          </div>
          <div class="col-3-clear">
            <button (click)="orderByPrice(-1,1)">Sort by price<img src="/assets/images/arrow-pointing-down.svg"
                                                                 alt="descending"></button>
          </div>
          <div class="col-5-clear price-range-container">
            <div class="col-2-clear"><span>Price: </span></div>
            <div class="col-10-clear price-range-input-container">
              <span class="col-5-clear">$
              <input type="text" class="col-9" [(ngModel)]="lowestPrice">
                </span>
              <span class="col-1-clear">--</span>
              <span class="col-5-clear">$
              <input type="text" class="col-9" [(ngModel)]="highestPrice">
                </span>
            </div>
          </div>

          <div class="col-1-clear">
            <button id="price-submit" (click)="priceRangeOnClick()">
              <img src="/assets/images/search.svg" alt="search" style="padding-left: 0;">
            </button>
          </div>
        </div>

        <div class="row" style="margin-top: 15px;">

          <div class="col-4 item-container" *ngFor="let item of products">
            <div class="row item-image-container flex-vertical-center">
              <img
                src="https://wallpaperbrowse.com/media/images/Dubai-Photos-Images-Oicture-Dubai-Landmarks-800x600.jpg"
                alt="item"
                (click)="goToDetail(item.id)">
            </div>

            <div class="row item-info-container">
              <div class="row two-text-rows">
                <div class="col-12 product-name-container" (click)="goToDetail(item.id)">
                  <h4>{{item.name}}</h4>
                </div>
              </div>
              <div class="row two-text-rows">
                <div class="col-6"><span class="price">${{item.itemType[0].unitPrice.toFixed(2)}}</span></div>
                <div class="col-6 retailer-name">
                  <span>
                    {{item.retailer.firstname}} {{item.retailer.lastname}}
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-12 item-brief-desc">
                  <span>{{item.briefDescription}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row"></div>
      </div>

    </div>
    <div class="item-list-container">
      <app-pagination></app-pagination>
    </div>
  </div>

</div>
