@import "../../../../../assets/style/theme";

.product-list-container {
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 1200px;

  .category-select-container {
    float: left;
    width: 200px;

    h3 {
      margin: auto;
      padding: 5px 0;
      border-bottom: 1px solid lightgrey;
    }

    ul {
      //list-style: none;
      padding-left: 0px;
      margin-left: 10px;

      li {
        margin: 3px auto;
        word-wrap: break-word;

        a {
          cursor: pointer;
          text-decoration: underline;

          &:hover {
            color: #ef742d;
          }
        }
      }
    }
  }

  .item-list-container {
    margin-left: 215px;

    .item-container {
      width: 32%;
      margin-bottom: 15px;
      border: 1px solid lightgrey;
      box-sizing: border-box;

      &:hover {
        box-shadow: 0 0 10px 3px #ef742d, 0 0 5px white inset;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }

      .item-image-container {
        width: 100%;
        height: 225px;
        cursor: pointer;
        text-align: center;
        display: flex;
        margin: 5px auto;

        img {
          display: block;
          margin: auto;
          width: 100%;
          max-width: 100%;
          max-height: 100%;
        }
      }

      .item-info-container {
        height: 100px;
        overflow-y: hidden;
        padding: 5px;
        width: calc(100% - 10px);

        .two-text-rows {
          max-height: 36px;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 10px;

          * {
            max-height: 36px;
          }
        }

        .product-name-container {
          cursor: pointer;

          &:hover {
            color: #ef742d;
            text-decoration: underline;
          }

          h4 {
            margin-top: 0;
            margin-bottom: 5px;
          }
        }

        .item-brief-desc {
          overflow-x: hidden;
          text-overflow: ellipsis;

          span {
            display: block;
          }
        }

        .price {
          color: red;
          font-weight: bold;
        }

        .retailer-name {
          color: grey;
          text-decoration: underline;
          overflow: hidden;
          text-align: right;
          text-overflow: ellipsis;
          cursor: pointer;

          span {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          &:hover {
            color: #ef742d;
          }
        }
      }

    }

    .product-list-navbar-container {
      height: 35px;
      border: 1px solid lightgrey;
      box-sizing: border-box;
      text-align: center;

      * {
        height: 100%;
        box-sizing: border-box;
      }

      button {
        height: 33px;
        border: none;
        cursor: pointer;
        outline: none;
        background-color: white;
        width: 100%;
        position: relative;

        &:hover {
          color: #ef742d;
          background-color: lightgrey;
        }

        img {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          height: 15px;
          width: 15px;
          padding-left: 5px;

        }
      }

      .price-range-container {
        height: 100%;
        line-height: 33px;

        > * {
          float: left;
        }

        .price-range-input-container {

          > * {
            float: left;
            box-sizing: border-box;
          }

          input {
            padding: 0;
            max-height: 23px;
            text-indent: 5px;
          }
        }

      }
    }
  }
}

#price-submit {
  padding: 0;
  text-align: center;

  img {
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 5px !important;
  }
}
