
.address-container {
  width: 100%;
  max-width: 500px;
  margin: auto;

  form {

    > * {
      width: 100%;
      max-width: 350px;
      margin: auto;
    }

    table {
      margin: 25px auto;

      tr {

        td {

          .address-update-rightCol {
            display: block;
            max-width: 150px;
            margin: auto 0 auto auto;
          }

          input {
            border-radius: 3px;
            border: 1px solid lightgrey;
            text-indent: 8px;
            outline: none;
            width: 100%;
          }

          input {
            height: 30px;
          }

          select {
            min-height: 30px;
            max-height: 200px;
            overflow-y: scroll;
          }

        }
      }
    }

    .btn-address-submit-container {

    }
  }
}


