<div class="content">
  <div class="detail-container">
    <div class="row" style="border-bottom: 1px solid lightgrey;">
      <div class="col-6 preview-container col-offset-1">
        <div class="row">
          <div class="col-12">
            <div class="preview-image-container">
              <img
                src="https://wallpaperbrowse.com/media/images/Dubai-Photos-Images-Oicture-Dubai-Landmarks-800x600.jpg"
                alt="preview">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8 col-offset-2 preview-gallery-container">
            <div class="preview-gallery-image-container">
              <img
                src="https://wallpaperbrowse.com/media/images/Dubai-Photos-Images-Oicture-Dubai-Landmarks-800x600.jpg"
                alt="preview">
            </div>
            <div class="preview-gallery-image-container">
              <img src="http://i164.photobucket.com/albums/u8/hemi1hemi/COLOR/COL9-6.jpg" alt="preview">
            </div>
            <div class="preview-gallery-image-container">
              <img src="http://i.telegraph.co.uk/multimedia/archive/03598/lightning-10_3598416k.jpg" alt="preview">
            </div>
          </div>
        </div>
      </div>

      <form [formGroup]="purchaseForm" class="col-5 purchase-container" (ngSubmit)="onAddToCart()">
        <div class="row">
          <div class="col-11 col-offset-1">
            <h1 style="margin-top: 0;">{{currentItem.name}}</h1>
          </div>
        </div>
        <div class="row purchase-category-container">
          <div class="col-4 label">
            <span>Categories:</span>
          </div>
          <div class="col-8">
            <button class="product-option"
                    type="button"
                    *ngFor="let type of currentItem.itemType"
                    (click)="typeOnClick(type)"
                    [ngClass]="{'type-selected': currentType.id==type.id}"
                    [disabled]="type.inventory<=0">
              {{type.name}}
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-4 label" style="line-height: 1.5em;">
            <span>Price:</span>
          </div>
          <div class="col-8 price-container">
            <span *ngIf="currentType.id<0">${{lowestPrice.toFixed(2)}} - ${{highestPrice.toFixed(2)}}</span>
            <span *ngIf="currentType.id>=0">${{currentType.unitPrice.toFixed(2)}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-4 label" style="line-height: 35px;">
            <label for="amount">Amount:</label>
          </div>
          <div class="col-3">
            <input type="number" id="amount" min="0" [max]="currentType.id>=0?currentType.inventory:0"
                   (blur)="amountOnBlur()"
                   formControlName="amount"
                   [disabled]="currentType.id<0">
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-offset-4">
            <span *ngIf="currentType.id>=3" style="color:red;font-weight: bold;">{{currentType.inventory}}</span>
            <span *ngIf="currentType.id<0" style="color:red;font-weight: bold;">{{totalInventory}}</span>
            in stock
          </div>
        </div>
        <div class="row">
          <div class="col-8 col-offset-4 form-validator">
            <span *ngIf="amount.invalid;else validAmount">Invalid amount</span>
            <ng-template #validAmount>&nbsp;</ng-template>
          </div>
        </div>

        <div class="row" style="border-bottom: 1px solid lightgrey;">
        </div>

        <div class="btn-purchase-container">
          <div class="row">
            <div class="col-8 col-offset-2">
              <button type="submit" [disabled]="purchaseForm.invalid||currentType.id<0">Add to Cart</button>
            </div>
          </div>
          <div class="row">
            <div class="col-8 col-offset-2">
              <button [disabled]="currentType.id<0" type="button" (click)="onAddToWishList()">Add to Wish List</button>
            </div>
          </div>
        </div>
      </form>
    </div>


    <div class="row">
      <div class="col-8 col-offset-2 detail-description-container">
        <h2>Description</h2>
        <p>
          {{currentItem.description}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-8 col-offset-2 detail-description-container">
        <h2>Features & Details</h2>
        <ul>
          <li *ngFor="let detail of currentItem.details">{{detail}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
