/* You can add global styles to this file, and also import other style files */
body {
  margin:0;
}

i.dropdown-icon {
  border:5px solid black;
  display: inline-block;
  position: absolute;
  top:15px;
  right:8px;
  background-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}

ul {
  list-style: none;
}
