/* You can add global styles to this file, and also import other style files */
@import "assets/style/theme";

html, body {
  width: 100%;
  min-width: 1000px;
}

body {
  margin: 0;
}

.dropdown-icon {
  border: 5px solid black;
  display: inline-block;
  position: absolute;
  top: calc(50% - 2px);
  right: 8px;
  background-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}

.form-validator {
  font-weight: bold;
  color: red;
}

button[disabled] {
  cursor: no-drop;
  opacity: 0.7;

}

.btn-profile {
  outline: none;
  border: none;
  background-color: $btn-background-color;
  color: white;
  border-radius: 5px;
  height: 35px;
  width: 100%;

  &:active {
    background-color: $btn-background-color-active;
  }
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.content {
  width: 100%;
  min-width: 1000px;
  margin: 50px 0 75px;
  box-sizing: border-box;
  padding: 0 15px;
}

button {
  cursor: pointer;
}

.display-none {
  display: none !important;
}

.dropdown-container {
  position: relative;

  &:hover {

    .dropdown-list {
      display: block;
    }
  }

  .dropdown-list {
    display: none;
    list-style: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px 0;
    margin: 0;
    border-radius: 3px;
    text-align: left;
    height: auto;
    top: calc(100% - 2px);

    &:before {
      content: "";
      position: absolute;
      top: -9px;
      left: 25%;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid white;
      border-top: none;

    }

    li {
      margin: 5px 0;
      cursor: pointer;
      background-color: white;
      padding: 5px 25px;
      //border-radius: 3px;
      white-space: nowrap;

      &.dropdown-list-item:hover {
        background-color: lightgrey;
      }
    }
  }

}

.flex-vertical-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.as-table {
  display: table !important;
}

.as-table-cell {
  display: table-cell;
}

.row {
  display: block;
  width: 100%;

  &:before {
    display: table;
    content: " ";
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  > * {
    display: block;
    float: left;
    position: relative;

    &:last-child {
      margin-right: 0;
    }
  }
}

.col-1 {
  width: 6.333333%;
  margin-right: 2%;
}

.col-1-clear {
  width: 8.333333%;
}

.col-2 {
  width: 14.66%;
  margin-right: 2%;
}

.col-2-clear {
  width: 16.66%;
}

.col-3 {
  width: 23%;
  margin-right: 2%;
}

.col-3-clear {
  width: 25%;
}

.col-4 {
  width: 31.33%;
  margin-right: 2%;
}

.col-4-clear {
  width: 33.33%;
}

.col-5 {
  width: 39.666%;
  margin-right: 2%;
}

.col-5-clear {
  width: 41.666%;
}

.col-6 {
  width: 48%;
  margin-right: 2%;
}

.col-6-clear {
  width: 50%;
}

.col-8 {
  width: 64.67%;
  margin-right: 2%;
}

.col-8-clear {
  width: 66.67%;
}

.col-9 {
  width: 73%;
  margin-right: 2%;
}

.col-9-clear {
  width: 75%;
}

.col-10 {
  width: 81.33%;
  margin-right: 2%;
}

.col-10-clear {
  width: 83.333%;
}

.col-11 {
  width: 91.666%;
}

.col-12 {
  width: 100%;
}

.col-offset-1 {
  margin-left: 8.33%;
}

.col-offset-2 {
  margin-left: 16.66%
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: 33.33%;
}

.col-offset-6 {
  margin-left: 50%;
}

.btn-danger {
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  height: 35px;
  background-color: red !important;

  &:active {
    background-color: #ad0600 !important;
  }
}

.label {
  text-align: right;
  //padding-right: 8px;
}

.full-screen-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  min-width: 750px;
  background-color: rgba(0, 0, 0, 0.3);
  top:0;
  left: 0;
  bottom: 0;
}

.as-link {
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: #ef742d;
  }
}
