/* You can add global styles to this file, and also import other style files */
body {
  margin:0;
}

.dropdown-icon {
  border:5px solid black;
  display: inline-block;
  position: relative;
  top:2px;
  background-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}
