<div class="content">
  <div class="account-conatiner">
    <div class="account-list-item">
      <div class="account-list-item-title-container">
        <img src="/assets/images/box.svg" alt="orders">
      </div>
      <div class="account-list-item-content-container">
        <h3>My Orders</h3>
        <table>
          <tr>
            <td>
              <button class="btn-profile">All Orders</button>
            </td>
            <td>
              <button class="btn-profile">Orders In Process</button>
            </td>
          </tr>
          <tr>
            <td>
              <button class="btn-profile">Delivered Orders</button>
            </td>
            <td>
              <button class="btn-profile">Canceled Orders</button>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="account-list-item">
      <div class="account-list-item-title-container">
        <img src="/src/assets/images/id-card.svg" alt="profile">
      </div>
      <div class="account-list-item-content-container">
        <h3>My Profile</h3>
        <table>
          <tr>
            <td>
              <button (click)="navigate('/auth/account/update_profile',{index:1})" class="btn-profile">Update Profile</button>
            </td>
            <td>
              <button (click)="navigate('/auth/account/update_profile',{index:2})" class="btn-profile">Change Password</button>
            </td>
          </tr>
          <tr>
            <td>
              <button class="btn-profile">My Favorites</button>
            </td>
            <td>
              <!--<button>Canceled Process</button>-->
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="account-list-item">
      <div class="account-list-item-title-container">
        <img src="/assets/images/agenda.svg" alt="profile">
      </div>
      <div class="account-list-item-content-container">
        <h3>Address Book</h3>
        <table>
          <tr>
            <td>
              <button (click)="navigateByUrl('/auth/account/my_addresses')" class="btn-profile">Manage Address</button>
            </td>
            <td>
              <button (click)="navigateByUrl('/auth/account/update_address')" class="btn-profile">Add a New Address</button>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="account-list-item">
      <div class="account-list-item-title-container">
        <img src="/assets/images/smartphone.svg" alt="profile">
      </div>
      <div class="account-list-item-content-container">
        <h3>Payment Book</h3>
        <table>
          <tr>
            <td>
              <button class="btn-profile">Manage Payment</button>
            </td>
            <td>
              <button class="btn-profile">Add a New Payment</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
