<div class="row">
  <div class="col-12">
    <ul class="pagination-list">
      <li style="display: inline-block;">
        <button class="btn-profile page-item-first"
                [disabled]="currentPage<=1"
                (click)="changeButtons(currentPage-1)">Pre</button>
      </li>
      <li style="display: inline-block;" *ngFor="let item of buttons; let i = index" class="page-item">
        <button class="btn-profile btn-page"
                (click)="changeButtons(item)"
                [ngClass]="{currentPage: currentPage==item}">
          {{item}}
        </button>
      </li>
      <li style="display: inline-block;">
        <button class="btn-profile page-item-last"
                [disabled]="currentPage>=totalPages"
                (click)="changeButtons(currentPage+1)">next
        </button>
      </li>
    </ul>
  </div>
</div>
