<div class="content">
  <div class="checkout-container">
    <div class="row checkout-title-container">
      <div class="col-12">
        <h1>Checkout ({{cartItems.length}} items)</h1>
        <hr>
      </div>
    </div>

    <div class="row" style="position: relative">
      <div class="col-8">
        <div class="checkout-option-container row">
          <div class="col-1-clear">
            <h3>1</h3>
          </div>
          <div class="col-3">
            <h3>Shipping Address</h3>
          </div>

          <div class="col-6 checkout-option-box">
            <ng-container *ngIf="currentAddress.id>=0">
              <div class="row"><h3>{{currentAddress.tag}}</h3></div>
              <div class="row">{{currentAddress.street}}, {{currentAddress.suite}}</div>
              <div class="row">{{currentAddress.city}}, {{currentAddress.state}} {{currentAddress.zipcode}}</div>
            </ng-container>
            <ng-container *ngIf="currentAddress.id<0">
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-12"> You have not added any address yet!</div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <a (click)="navigate('/auth/account/update_address')"
                         style="color:blue;text-decoration: underline">Click here to add a new address</a>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>

          <div class="col-2">
            <button class="btn-profile" (click)="openAddressSelect()" *ngIf="currentAddress.id >= 0">Change</button>
          </div>
        </div>
        <hr class="checkout-option-divider">


        <div class="checkout-option-container row">
          <div class="col-1-clear">
            <h3>2</h3>
          </div>
          <div class="col-3">
            <h3>Payment method</h3>
          </div>
          <div class="col-6 checkout-option-box">
            <ng-container *ngIf="currentPayment.id>=0">
              <div class="row">
                <div class="col-12">
                  <h3>Card ending in
                    <span style="color: blue;">{{currentPayment.number|last4Digits}}
                </span>
                  </h3>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <span style="color:blue;">Billing address: &nbsp;</span>
                  {{currentPayment.street}}, {{currentPayment.suite}}
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  {{currentPayment.city}}, {{currentPayment.state}} {{currentPayment.zipcode}}
                </div>
              </div>

            </ng-container>
            <ng-container *ngIf="currentPayment.id<0">
              <div class="row">
                <div class="col-12"> You have not added any payment yet!</div>
              </div>
              <div class="row">
                <div class="col-12">
                  <a (click)="navigate('/auth/account/my_payments/new')"
                     style="color:blue;text-decoration: underline">Click here to add a new payment</a>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="col-2">
            <button class="btn-profile" (click)="openPaymentSelect()" *ngIf="currentPayment.id >= 0">Change</button>
          </div>
        </div>
        <hr class="checkout-option-divider">

        <div class="checkout-option-container row">
          <div class="row">
            <div class="col-1-clear">
              <h3>3</h3>
            </div>
            <div class="col-6">
              <h3>Review items</h3>
            </div>
          </div>

          <div class="row checkout-item-container" *ngFor="let item of cartItems">
            <div class="col-4">
              <div class="flex-vertical-center checkout-image-container">
                <img
                  src="https://wallpaperbrowse.com/media/images/Dubai-Photos-Images-Oicture-Dubai-Landmarks-800x600.jpg"
                  alt="item"
                  (click)="goToDetail(item.productID)">
              </div>
            </div>
            <div class="col-6-clear col-offset-2">
              <div class="row">
                <h3 class="product-name as-link blue" (click)="goToDetail(item.productID)">
                  {{item.productName}} ({{item.itemTypeName}})</h3>
                <div class="row">
                  <div class="row">
                    <div class="product-retailer-name">{{item.retailerName}}</div>
                  </div>
                  <div class="row">
                    <div class="col-3">Price:&nbsp;</div>
                    <div class="price col-3">${{item.unitPrice}}</div>
                    <div class="col-3">Amount:&nbsp;</div>
                    <div class="col-3 price">{{item.amount}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-4-clear">
        <div class="row" style="position: relative;">
          <div class="col-12">
            <div class="checkout-submit-container" appFixBox [top-threshold]="175">
              <div class="row">
                <div class="col-12">
                  <button class="btn-profile"
                          [disabled]="currentAddress.id<0||currentPayment.id<0"
                          (click)="placeOrder()">
                    Place your order
                  </button>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="row">
                  <div class="col-12">
                    <h2>Order Summary</h2>
                  </div>
                </div>

                <div class="row">
                  <div class="col-8">
                    Items({{cartItems.length}}) Subtotal:
                  </div>
                  <div class="col-4 price align-right">
                    ${{checkoutSubTotal().toFixed(2)}}
                  </div>
                </div>

                <div class="row">
                  <div class="col-8">
                    Shipping & Handling:
                  </div>
                  <div class="col-4 price align-right">
                    $2.00
                  </div>
                </div>

                <div class="row">
                  <div class="col-8">
                    Estimated Tax:
                  </div>
                  <div class="col-4 price align-right">
                    $2.00
                  </div>
                </div>

                <div class="row">
                  <hr>
                </div>

                <div class="row total">
                  <div class="col-8">
                    Total
                  </div>
                  <div class="col-4 price align-right">
                    ${{checkoutTotal().toFixed(2)}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="addressSelectShown">
  <div class="full-screen-modal flex-vertical-center">
    <div class="select-container">
      <div class="select-title-container">
        <h3>Select shipping address</h3>
        <button (click)="closeAddressSelect()">
          <img src="/assets/images/delete.svg" alt="close">
        </button>
      </div>

      <div class="select-options-container">
        <div class="select-option-container row" *ngFor="let address of addresses">
          <span class="flex-vertical-center radio-container">
            <input type="radio"
                   name="addressID"
                   [checked]="address.id==currentAddress.id"
                   (click)="checkedAddress=address">
          </span>
          <span style="padding-left: 25px;position: static;">
          <span><strong>{{address.tag}}</strong></span>
          <span>{{address.street}} {{address.suite}}</span>,
          <span>{{address.city}}</span>,
          <span>{{address.state}}</span>,
          <span>{{address.zipcode}}</span>
        </span>
        </div>

        <div class="row" style="margin-top: 20px;">
          <div class="col-3 col-offset-6">
            <button class="btn-profile" style="width: 100%;" (click)="addressOnSubmit()">Confirm</button>
          </div>
          <div class="col-3">
            <button class="btn-danger" style="width: 100%;" (click)="closeAddressSelect()">Cancel</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</ng-container>

<ng-container *ngIf="paymentSelectShown">
  <div class="full-screen-modal flex-vertical-center">
    <div class="select-container">
      <div class="select-title-container">
        <h3>Select payment method</h3>
        <button (click)="closePaymentSelect()">
          <img src="/assets/images/delete.svg" alt="close">
        </button>
      </div>

      <div class="select-options-container">
        <div class="row select-payment-title">
          <div class="col-5 col-offset-1">Your card</div>
          <div class="col-4">Name on card</div>
          <div class="col-2">Expires on</div>
        </div>

        <div class="select-option-container row" *ngFor="let payment of payments">
          <div class="flex-vertical-center col-1">
            <input type="radio"
                   name="addressID"
                   [checked]="payment.id==currentPayment.id"
                   (click)="checkedPayment=payment">
          </div>
          <div class="col-5"><span>Card ending in {{payment.number|last4Digits}}</span></div>
          <div class="col-4"><span>{{payment.name}}</span></div>
          <div class="col-2"><span>{{payment.month}}/{{payment.year}}</span></div>
        </div>

        <div class="row" style="margin-top: 20px;">
          <div class="col-3 col-offset-6">
            <button class="btn-profile" style="width: 100%;" (click)="paymentOnSubmit()">Confirm</button>
          </div>
          <div class="col-3">
            <button class="btn-danger" style="width: 100%;" (click)="closePaymentSelect()">Cancel</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</ng-container>


