header {
  width: 100%;
  min-width: 1000px;
    top:0;
}

nav {
  width: 100%;
  height: 70px;
  display: flex;
  background-color: #232f3e;
  color: white;
  vertical-align: middle;

  > div {
    display: inline-flex;
    height: 100%;
  }

  .nav-title-container {
    text-align: center;
    width: 200px;
    padding: 0 15px;

    h2 {
      width: 100%;
      height: 70px;
      line-height: 70px;
      margin: 0;
    }
  }

  .searchBar-container {
    height: 35px;
    margin: auto 20px;
    border-radius: 5px;
    width: calc(100% - 650px);

    &.searchBar-active {
      box-shadow: 0 0 3px #ff9260, 0 1px 0 rgba(0, 0, 0, .07) inset;
    }

    > div {
      display: inline-flex;
      height: 100%;
      margin: auto 0;
      position: relative;
    }

    .category-dropdown-container {
      width: auto;
      max-width: 200px;
      text-align: center;

      &, * {
        float: left;
      }

      &:focus {
        background-color: grey;
      }

      .category-dropdown-list {
        position: absolute;
        width: 200px;
        overflow-x: auto;
        max-height: 200px;
        height: 35px;
        color: black;
        margin: 0;
        display: block;
        opacity: 0;
        cursor: pointer;

        option {
          font-size: 16px;
        }
      }
    }

    .searchBar-box {
      padding-top: 0;
      width: 100%;
      display: block;
      white-space: nowrap;
      position: relative;

      input {
        outline: none;
        width: 100%;
        height: 100%;
        border: 0;
        padding: 0;
        text-indent: 8px;
        font-size: 15px;
        letter-spacing: 1px;
      }
    }

    .searchIcon-box {
      float: right;
    }
  }

  .nav-right-container {
    padding: 0 20px;
    //width: 300px;
    margin-left: auto;
    white-space: nowrap;

    .btn-account-container {
      ul:before {
        left: 78.5px;
      }
    }

    .btn-cart-container {

      #cart {
        padding-bottom: 5px;
        padding-top: 5px;
        height: 50px;

        #header-cart-amount {
          color: red;
          font-size: 1.1em;
          font-weight: bold;
          position: relative;
          display: block;
          width: 23px;
          top: -3px;
          text-align: right;
        }

        span:last-child {
          position: relative;
          display: block;
          margin-left: 33px;
          font-size: 1.1em;
          font-weight: bold;
        }

        img {
          position: absolute;
          top: 14px;
          width: 30px;
          height: 30px;
          left: 5px;
          right: 0;
        }
      }
      .dropdown-list {
        left: calc(100% - 118px);
        //top: 58px;

        @media screen and (max-width: 1000px) {
          //left :calc(1000px - 150px)
        }

        &:before {
          left: calc(50% + 15px);
        }
      }
    }
  }
}

#search {
  width: 35px;
  height: 35px;
  outline: none;
  padding: 5px;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;

  &:active {
    background-color: grey;
  }

  img {
    width: 25px;
    height: 25px;
  }
}

#category-dropdown {
  width: auto;
  outline: none;
  border: none;
  padding: 5px 10px 5px 0px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  white-space: nowrap;
  position: relative;
}

.btn-header-auth-container {
  margin: auto 5px;
  padding: 0;

  .btn-header-auth {
    outline: none;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
    height: 35px;
    min-width: 50px;
    text-align: center;
    margin: auto;
    position: relative;

    &:hover {
      border-color: white;
    }

  }
}
