<header>
  <nav>
    <div class="nav-title-container">
      <h2><a [routerLink]="['/']">Retailers.com</a></h2>
    </div>

    <div class="searchBar-container" [class.searchBar-active]="searchBarGetFocus">
      <div class="category-dropdown-container">
        <button id="category-dropdown" (focus)="searchBarOnFocus()" (blur)="searchBarOnBlur()">
          <span style="margin-right: 23px;width: 100%">{{currentCategory}}</span>
          <i class="dropdown-icon" #category></i>
        </button>
        <select class="category-dropdown-list" #categoryMenu (focus)="searchBarOnFocus()" (blur)="searchBarOnBlur()"
                (change)="categoryOnClick(categoryMenu.options[categoryMenu.selectedIndex].value)">
          <option (click)="categoryOnClick('All')">All</option>
          <option *ngFor="let category of categories">{{category}}</option>
        </select>
      </div>
      <div class="searchBar-box">
        <input type="text" (focus)="searchBarOnFocus()" (blur)="searchBarOnBlur()">
      </div>

      <div class="searchIcon-box">
        <button id="search" (click)="navigate('/products/product-list')">
          <img src="/assets/images/search.svg" alt="search">
        </button>
      </div>
    </div>

    <div class="nav-right-container">
      <div class="btn-login-container btn-header-auth-container" *ngIf="!isAuthenticated">
        <button (click)="login()" class="btn-header-auth">Login</button>
      </div>

      <div class="btn-account-container  btn-header-auth-container dropdown-container">
        <button class="btn-header-auth" (click)="navigate('/auth/account')">
          <span style="margin-right: 20px;width: 100%;">My Account</span>
          <i class="dropdown-icon" style="border-top-color: white" #category></i>
        </button>
        <ul class="dropdown-list">
          <li class="dropdown-list-item" (click)="navigate('/auth/account')">Account Management</li>
          <li class="dropdown-list-item" (click)="navigate('/auth/account/my_orders')">My Orders</li>
          <li class="dropdown-list-item" (click)="navigate('/auth/account')">My List</li>
          <li class="dropdown-list-item" (click)="navigate('/auth/account/my_addresses')">Address Book</li>
        </ul>
      </div>

      <div class="btn-signup-container btn-header-auth-container" *ngIf="!isAuthenticated">
        <button class="btn-header-auth" (click)="signUp()">Sign Up</button>
      </div>


      <div class="btn-logout-container  btn-header-auth-container" *ngIf="isAuthenticated">
        <button (click)="logout()" class="btn-header-auth">Logout</button>
      </div>

      <div class="btn-cart-container  btn-header-auth-container dropdown-container">
        <button class="btn-header-auth"
                id="cart"
                (click)="navigate('/products/cart')">
          <span id="header-cart-amount">0</span>
          <img src="/assets/images/shopping-cart.svg" alt="cart">
          <span>Cart</span>
        </button>
        <ul class="dropdown-list">
          <li style="cursor: default">Cart is empty</li>
        </ul>
      </div>

    </div>

  </nav>
</header>
